.contatos{
    height: 40vh;
    background-color: #fff;
    display: flex;
}
.container-contatos{
    display: flex;
    width: 100%;
    gap: 20%;
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 10%;
}
.quemSomos{
    display: flex;
    flex-direction: column;
    gap: 5%;

}
.quemSomos h2{
    color: #001e5a;
    font-size: 3em;
    font-weight: bolder;
}
.quemSomos p{
    color: #aaa;
    width: 90%;
    font-size: 1.3em;
    font-weight: 400;
}
.informacoes{
    display: flex;
    gap: 10%;
    width: 100%;
}
.informacao{
    width: 70%;
}
.informacao h2{
    color: #000;
    font-weight: bold;
    font-size: 2em;
    
}
.informacao ul{
    padding-top: 15%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}
.informacao ul li{
    font-size: 1.4em;
    color: #aaa;
}
.icons{
    display: flex;
    gap:5%;
}
.icons > a{
    font-size: 2em;
    color: #aaa;
    transition: all linear 0.5s;
}

.icons > a:hover{
    font-size: 2em;
    color: #001e5a;
}

@media (max-width:720px){
    .contatos{
        flex-direction: column;
    }
    .informacoes{
        display: none;
    }
}