footer{
    height: 10vh;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
    color: rgb(141, 139, 139);
}
@media (max-width:720px){
    footer{
        height: 20vh;
        align-items: center;
    }
}